<form action="/restaurants/new" method="post" enctype="multipart/form-data">
Image
<input multiple name="images" accept="image/*" type="file">
<input name="photo" accept="image/*" type="file">
<input name="file" type="file">
<input type="submit">
</form>